/* line 3, ../sass/main.scss */
.main .main-about {
  background-image: url("img/mountain.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 600px;
  color: white;
  position: relative;
  letter-spacing: 0.1em;
}
/* line 12, ../sass/main.scss */
.main .main-about h1 {
  margin: 0;
  position: relative;
  top: 10%;
  padding: 20px;
  font-size: 50px;
}
/* line 19, ../sass/main.scss */
.main .main-about h2 {
  padding: 20px;
  letter-spacing: 2px;
}
/* line 23, ../sass/main.scss */
.main .main-about > p {
  position: relative;
  top: 15%;
  font-size: 20px;
}
/* line 28, ../sass/main.scss */
.main .main-about #vertical-line {
  height: 10%;
  border-right: 12px dotted #EEE;
  width: 0;
  margin: 0 auto;
  position: relative;
  top: 20%;
}
/* line 36, ../sass/main.scss */
.main .main-about #client {
  background-color: #FF0048;
  position: relative;
  top: 29%;
  width: 30%;
  margin: 0 auto;
  height: 16%;
}
/* line 43, ../sass/main.scss */
.main .main-about #client p {
  font-size: 18px;
  margin: 0 auto;
  position: relative;
  top: 40%;
}
/* line 54, ../sass/main.scss */
.main .main-display .gallery div {
  padding: 0;
}
/* line 56, ../sass/main.scss */
.main .main-display .gallery div img {
  width: 100%;
}
/* line 61, ../sass/main.scss */
.main .main-display div {
  background-color: #FF0048;
  color: white;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-align: center;
}
/* line 70, ../sass/main.scss */
.main .main-member {
  margin: 60px 0;
  text-align: center;
}
/* line 73, ../sass/main.scss */
.main .main-member h1 {
  margin: 20px auto;
  color: #FF0048;
}
/* line 77, ../sass/main.scss */
.main .main-member h2 {
  margin: 40px auto;
  color: #FF0048;
}
/* line 81, ../sass/main.scss */
.main .main-member a > div {
  background-image: url("img/contact.png");
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 20%;
  margin: 20px auto;
}
/* line 89, ../sass/main.scss */
.main .main-member > div {
  width: 70%;
  margin: 0 auto;
}
/* line 93, ../sass/main.scss */
.main .main-member > div > div {
  padding: 0;
}
/* line 97, ../sass/main.scss */
.main .main-introduction {
  background-image: url("img/intro_background.jpeg");
  background-position: center;
  background-size: cover;
  height: 1400px;
  text-align: center;
}
/* line 103, ../sass/main.scss */
.main .main-introduction .line {
  width: 15%;
  margin: 0 auto;
  border-top: 12px dotted #EEE;
}
/* line 108, ../sass/main.scss */
.main .main-introduction p {
  line-height: 20px;
  padding: 5px 0;
  letter-spacing: 1px;
}
/* line 113, ../sass/main.scss */
.main .main-introduction > div {
  text-align: left;
  width: 70%;
  margin: 0 auto;
}
/* line 118, ../sass/main.scss */
.main .main-introduction > div > div {
  color: white;
}
/* line 121, ../sass/main.scss */
.main .main-introduction .intro-left {
  margin: 0 auto 200px;
}
/* line 124, ../sass/main.scss */
.main .main-introduction .intro-right {
  margin: 200px auto 0px;
}
/* line 127, ../sass/main.scss */
.main .main-introduction .textblock {
  margin: 80px auto;
}
/* line 130, ../sass/main.scss */
.main .main-introduction a {
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px;
}
