/* line 3, ../sass/subheader.scss */
.subheader {
  text-align: center;
  background-color: #360836;
}
/* line 6, ../sass/subheader.scss */
.subheader a {
  color: white;
  font-size: 20px;
}
/* line 10, ../sass/subheader.scss */
.subheader ul {
  width: 20%;
  margin: 0 auto;
}
/* line 14, ../sass/subheader.scss */
.subheader li {
  padding: 5px;
}
