#containerBottom{
  min-width: 1000px;
  margin: 60px auto;
}
#containerBottom>h1{
  text-align: center;
  letter-spacing: 10px;
}
#containerBottom>p{
  text-align: center;
}
#containerBottom>hr{
  width: 30px;
  margin: auto;
}
