$back-color: #360836;

.subheader{
  text-align: center;
  background-color:$back-color;
  a{
    color: white;
    font-size: 20px;
  }
  ul{
    width: 20%;
    margin: 0 auto;
  }
  li{
    padding: 5px;
  }
}
